= render 'layouts/frontend/navigation'
.container-video
	%video#bgvid{:autoplay => "true", :loop => "", :src => "/assets/frontend/video_henao.mp4", :poster => "frontend/ImagenCartelera.jpg"}
		%source{:src => "/assets/frontend/video_henao.mp4", :type => "video/mp4"}

.container-logo-henao
	=image_tag "frontend/LogoGustavoHenao-01.png"

.container-text
	%h3 INSPIRADOR DE MULTITUDES

.container-social
	%center
		= link_to "" '<div class="red twitter-icon"></div>'.html_safe, "http://twitter.com/gustavohenaoS", target:"_blank"
		= link_to '<div class="red facebook-icon"></div>'.html_safe, "https://www.facebook.com/speaker.gustavohenao?ref=ts&fref=ts", target:"_blank"
		= link_to '<div class="red instagram-icon"></div>'.html_safe, "https://instagram.com/gustavohenao",target:"_blank"
		= link_to '<div class="red youtube-icon"></div>'.html_safe, "https://www.youtube.com/user/GustavoHenao", target:"_blank"

#section-modal
	= render 'modal'
