.container-cuadro-text
	.text-border
		%p Gustavo Henao es fundador de la Academia de Superación & Liderazgo, creador de un nuevo estilo de capacitación empresarial y desarrollo del potencial humano. Es CEO de la Certificación Internacional Speaker donde ha entrenado a decenas de conferencistas entregándoles herramientas para inspirar de forma congruente en cualquier escenario. La certificación speaker tiene un sello internacional avalado por México, Colombia y Venezuela.

		%p Cuenta con una amplia trayectoria en eventos empresariales, congresos Internacionales de diferentes especialidades, seminarios, entrenamientos de alto nivel y conferencias motivacionales que combinan la comedia, la reflexión y el liderazgo integral. 

.panel-title#scroll-ventajas
	%center
		%p VENTAJAS
		%h6{style: "color: #fff;"} No es lo mismo invertir en quien sabe motivar, que invertir en quien PUEDE INSPIRAR. Algunas de las ventajas de contar con Gustavo Henao en tu empresa o evento
.body-curriculun
	.bar.hidden-md.hidden-sm.hidden-xs
	.panel
		.title
			%center
				.icon
					%center
						= image_tag "frontend/Resumen_curricular-Birrete-1.png"
		.body
			%p Cada conferencia es hecha a la medida de la Organización.

	.panel
		.title
			%center
				.icon
					%center
						= image_tag "frontend/Resumen_curricular-Corona-1.png"
		.body
			%p Gustavo Henao habla con su propia vida, no es un conferencista que aprendió solo de libros, el aprende de lo que vive, enseña con su ejemplo y con sus RESULTADOS. 

	.panel
		.title
			%center
				.icon
					%center
						= image_tag "frontend/Resumen_curricular_Trofeo-1.png"
		.body
			%p Te comparte un modelo sencillo, fácil de recordar y aplicar.

	.panel
		.title
			%center
				.icon
					%center
						= image_tag "frontend/Resumen_curricular-Orador-1.png"
		.body
			%p Las conferencias de inspiración de Gustavo Henao logran convertir lo difícil en fácil, lo extraño en familiar , lo complicado en algo simple. 

	.panel
		.title
			%center
				.icon
					%center
						= image_tag "frontend/Resumen_curricular-estrell-1.png"
		.body
			%p Sus teorías no se quedan en palabras, cada estrategia se puede aplicar de forma cotidiana con resultados comprobados a nivel personal, familiar y empresarial.

	.panel
		.title
			%center
				.icon
					%center
						= image_tag "frontend/Resumen_curricular-Certificcion-1.png"
		.body
			%p Información multifacética, concisa, precisa, sencilla e impactante. Útil a nivel laboral,empresarial, social y personal.

.banner
	.text-banner
		%center
			%p Su inspiradora historia
			%p#bold de superación es ÚNICA